<div class="jumbotron">
  <h3>《Rails 实践》</h3>
  <p>本课程面向初次使用 Rails 的开发人员，讲解如何使用 Rails 框架开发 web 项目。 同时，我也会分享 Rails 开发过程中的实践经验。在本课程讲解的过程中，我会带领大家，一同编写一个在线网店程序。最后，我们还将要把这个网店程序，在云服务器上部署、运行。</p>
  <p><a class="btn btn-primary btn-lg" href="http://rails-practice.com/" target="_blank">查看教程（网页版）</a></p>
</div>
