<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= yield %>
    <hr>
    <p>《Rails 实践》http://rails-practice.com</p>
  </body>
</html>
